In [4]:
import time
import pandas as pd
import json
from kafka import KafkaConsumer
TOPIC_NAME = 'user_behavior'
# Create a KafkaConsumer instance
consumer = KafkaConsumer(
    bootstrap_servers=["10.237.96.122:9092"],
    auto_offset_reset='latest', 
    # receive_buffer_bytes=160*1024,
    enable_auto_commit=False,
    value_deserializer=lambda m: json.loads(m.decode('ascii')),
)

# Subscribe to a specific topic
consumer.subscribe(topics=TOPIC_NAME)
N_sample = 100
lst_record = []
while True:
    msg_poll = consumer.poll(timeout_ms=0)
    for k, v in msg_poll.items():
        for msg in v: 
            topic = msg.topic
            partition = msg.partition
            offset = msg.offset
            timestamp = msg.timestamp
            value_msg = msg.value
            current_time = time.time()
            try:
                lst_record.append(value_msg)
            except Exception as e:
                # print(f"Error: {e}")
                continue
    if len(lst_record) >= N_sample:
        break

df_record = pd.DataFrame(lst_record)
df_record.describe()

          role_id
count  100.000000
mean    47.210000
std     29.927284
min      2.000000
25%     21.500000
50%     43.000000
75%     74.000000
max     99.000000

In [5]:
df_record.head()

   role_id behavior
0       31     like
1       10     like
2       22    click
3       99    click
4       88    click